<a href="https://colab.research.google.com/github/sololzano/ICDF-Python2021/blob/main/W1_Introduction_to_Python_and_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Python

## Basic Types
Data types that don't need to be declared specifically. Built-in method <code>type()</code> returns the type of the argument (variable, literal or expression). 

<b>Integer</b>
<ul>
  <li> Parent class <i>int</i>.
  <li> -10, 10, 0.
</ul>

<b>Float</b>
<ul>
  <li> Parent class <i>float</i>.
  <li> Floating point numbers (including IEEE754).
  <li> -2.34, 1.5e6
</ul>

<b>Bool</b>
<ul>
  <li> Parent class <i>bool</i>.
  <li> Represents state (on/off, true/false).
  <li> True, False
</ul>

<b>String</b>
<ul>
  <li> Parent class <i>str</i>.
  <li> Characters and words.
  <li> Specified with single or double quote marks (' ', " ").
  <li> 'House', "Car".

In [ ]:
# Integer
type(10)

int

In [ ]:
# Float
type(5.1)

float

In [ ]:
# Bool
type(True)

bool

In [ ]:
# String
type('House')

str

### Type conversion between basic types
Data can be transformed into other types by explicitly using the parent class as a function. <code>float(10)</code> converts the data <code>10</code> into a floating point number <code>10.0</code>. </br>

<b>Integer to float</b>

Can be done explicitly or implicitly. If the result of an expression or operation is a float, the value returned is going to be a float. 
<ul>
  <li> Explicitly: <code>float(10)</code> --> <code>10.0</code>
  <li> Implicitly: <code>10 * 1.0</code> --> <code>10.0</code>
</ul>

<b>Float to integer</b>

Done explicitly. Division between two integers results always in a floating point number (with the exception of the <i>modulus</i> and <i>floor division</i>). When converting from <code>float</code> to <code>int</code>, the number will be floored (i.e. the floating part is removed).
<ul>
  <li> <code>int(5.9)</code> --> <code>5</code>
  <li> <code>int(-0.99)</code> --> <code>0</code>
</ul>

<b>Bool to integer</b>

Done explicitily. <code>False</code> returns <code>0</code>, <code>True</code> returns <code>1</code>.

<b>Integer to bool</b>

Done explicitly. Only <code>0</code> will result in <code>False</code> for the conversion. Any other number (either <code>float</code> or <code>int</code>) will result in <code>True</code>

In [ ]:
# Float to Integer
int(5.9)

5

In [ ]:
# Modulus operator
5 % 2

1

In [ ]:
# Floor division
5 // 3

1

In [ ]:
# Integer to bool
bool(1)

True

In [ ]:
# Integer to bool
bool(0)

False

## Variables and Expressions
Variables are data stored in RAM. They can be of any basic type or object. For basic types, the variable type is inferred from the data (no need to be declared explicitly).

In [ ]:
# Integer variable
a = 10
type(a)

int

In [ ]:
# Float variable 
b = 5.1
type(b)

float

In [ ]:
# Math expression assigned to variable
c = (a + b) * 2
type(c)

float

In [ ]:
# Show variables' values
print(a)
print(b)
print(c)

10
5.1
30.2

## String operations
A string <code>str</code> can be considered a sequence. Each item in the sequence has a zero-based index (i.e. first position equals index zero). This means the items within the string can be accessed by their corresponding indices.

In [ ]:
# Indexing
a = 'Python'
a[0]

'P'

In [ ]:
# Negative indexing
a[-2]

'o'

In [ ]:
# Slicing
a[1:3]

'yt'

In [ ]:
# Reversing
a[::-1]

'nohtyP'

### Built-in functions for Strings
<code>len()</code>

Returns the length of the string.

<code>str.upper()</code>, <code>str.lower()</code>

String to uppercase or lowercase.

<code>str.find()</code>

Returns the index of the first occurence of the substring. -1 otherwise.

<code>str.strip()</code>, <code>str.lstrip()</code>, <code>str.rstrip()</code>

Removes leading and trailing spaces from the string.

In [1]:
# Lenght of a string
s = 'Today is Saturday'
print(len(s))

17

In [3]:
# Uppercase and lowercase
s_upper = s.upper()
s_lower = s.lower()
print(s_upper)
print(s_lower)

TODAY IS SATURDAY
today is saturday

In [4]:
# Python is case sensitive!!!!
print(s_upper.find('s'))

-1

In [5]:
print(s_upper.find('S'))

7

In [11]:
# Strip examples
sl = '   This sentence has a leading space'
st = 'This sentence has a trailing space    '
sb = '    This sentence has both spaces    '
ab = 'AAA'
print(sl)
print(sl.lstrip(), ab)
print(st, ab)
print(st.rstrip(), ab)

   This sentence has a leading space
This sentence has a leading space AAA
This sentence has a trailing space     AAA
This sentence has a trailing space AAA

In [13]:
print(sb, ab)
print(sb.rstrip(), ab)

    This sentence has both spaces     AAA
    This sentence has both spaces AAA

In [14]:
print(sb.strip(), ab)

This sentence has both spaces AAA